<div class="container">
	<div class="inner-container">
		<div class="main-div">
			<div class="filter-box">
				<div class="btn-div">
					<button class="btn filter-btn" (click)="openDialog()">Filter</button>
				</div>
				<div class="filtered-items">
					<span class="filter-span">Filtered by: </span>
					<span class="filter-span">Email:</span>
					<span><b>{{filter.email}}</b></span>
					<span class="filter-span">Time Period:</span>
					<span>{{filter.time}}</span>
				</div>
			</div>
			<div class="item-container" *ngFor="let listItem of keyList">
				<hr>
				<div class="col-md-3 pull-left caption"><b>{{listItem}}th</b>
				</div>
				<div class="col-md-9 pull-right" *ngFor="let user of data[listItem]">
					<div class="use-info-div">
						<span class="user-span caption">at {{user.displayTime}} by 
							<i class="fa fa-user"></i>
							<u class="dotted caption"> {{user.loggedUseremail}}</u>
						</span>
						<span class="user-span content">{{user.methodName}} - {{user.className}}</span>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<app-dialog [(visible)]="showDialog">
  <div class="filter-header">Filter by</div>
  <div class="filter-item-header">Select Time Period</div>
  <div class="filter-item">
  	<!-- <input type="date" [(ngModel)]='filter.displayTime'> -->
  	<date-range-picker class="col-md-4" [options]="daterangepickerOptions" class="col-md-4" placeholder="Select range" >
		</date-range-picker>
  </div>
  <br>
  <div class="filter-item-header">Select Email</div>
  <sm-select
      [options]="{direction: 'upward', transition: 'vertical flip'}"
      placeholder="Select multiple email" 
      class="fluid search multiple"
      (onChange)="onMultiple($event)">
      <option *ngFor="let udata of userData | filterUnique">{{udata.loggedUseremail}}</option>
  </sm-select>
<!--   <div class="filter-item">
  	<input [(ngModel)]='filter.loggedUseremail'/>
  </div> -->
  <button class="btn filter-btn" (click)="setFilter(filter)">Generate</button>
</app-dialog>